---
title: blog listing page
---
{# REMOVEABLE: feel free to remove / replace any content on this page #}

<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {{ title }}
  </body>
</html>