---
layout: false
permalink: browserconfig.xml
ignore: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
  <msapplication>
    <tile>
      <square150x150logo src="{{env.base.favicons}}favicon-150.png"/>
      <square310x310logo src="{{env.base.favicons}}favicon-310.png"/>
      <TileColor>{{ env.themeColor }}</TileColor>
    </tile>
  </msapplication>
</browserconfig>