---
layout: false
permalink: sitemap.txt
---
{# {{ collections.all | log }} #}
{%- for item in collections.all %}
  {% if not item.data.ignore %}
    {{env.base.site}}{{ item.url | replace('.html', '') }}
  {% endif %}
{%- endfor %}