<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta name="description" content="{{ desc or title }}">

    <!-- Open graph -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc or title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ cover }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yourUsername">
    <meta name="twitter:description" content="{{ desc or title }}">
    <meta name="twitter:image" content="{{ cover }}">
    <meta name="twitter:creator" content="@yourUsername">

    {# Google Analytics #}
    <script async 
      src="https://www.googletagmanager.com/gtag/js?id={{ env.tracking.gtag }}">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ env.tracking.gtag }}');
    </script>

    {# No index #}
    {% if ignore %}
      <meta name="robots" content="noindex"/>
    {% endif %}

  </head>
  <body>
    {{ content | safe }}
  </body>
</html>