table {
  padding: 0;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: 700;
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td :first-child,
table tr th :first-child {
  margin-top: 0;
}

table tr td :last-child,
table tr th :last-child {
  margin-bottom: 0;
}
