{# feel free to remove / replace content #}
---
title: Home page  
date: 2020-05-10
---
<html lang="en">
  <head>{{ title }}</head>
  <body>
    {% set greeting = 'hello' %}
    
    Yay, {{ greeting | upper }} world!
  </body>
</html>