---
title: Home page  
date: 2020-05-10
---
{# feel free to remove / replace any content on this page #}

<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% set greeting = 'hello' %}
    
    Yay, {{ greeting | upper }} world!
  </body>
</html>